
{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Gruut{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{asset('assets/css/utilisateur/modifierpassword.css')}}">
{% endblock %}
{% block content %}
<h1 class="text-center mt-5">Mes commandes expédiées</h1>
<p class="text-center">Retrouvez toutes vos commandes en cours d'expédition</p>

<hr>
<a href="{{ path('app_account') }}" class="back-link btn mt-3 p-2"> <- Retourner à mon compte </a><br>
<hr>
{% if orders|length == 0 %}
    <hr>
	<p class="text-center">
			Vous n'avez pas encore passé de commandes sur la boutique française
	</p>
{% else %}

<div class="container-fluid mt-5">
    <div class="row w-100 m-0">
        <div class="col-0 col-sm-1 col-md-2"></div>
        
        <div class="col-12 col-sm-10 col-md-8 row">

            {% for order in orders %}
                {% if order.state == 3 %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="card rounded-3">
                <div class="card-body rounded-3">
                <h5 class="card-title bg-secondary text-white p-2"><b>{{ order.reference}}</b></h5>
                <p class="card-text">
								En cours de livraison
							, <br>
                    le {{ order.createdAt|date('d/m/Y')}} - {{   order.orderDetails|length  }} article <br> Prix total : {{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }}€
                </p>
                <a href="{{path('app_account_order_show', {'reference' : order.reference })}}" class="btn btn-sm" style="background : #DE9E48">Voir ma commande</a>
            </div>
        </div>
                
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-0 col-sm-1 col-md-2"></div>
    </div>
</div>
{% endif %}



<hr>
{% endblock %}


