{% extends 'base.html.twig' %}

{% block title %}Gruut - Modifier mon mot de passe{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{asset('assets/css/utilisateur/modifierpassword.css')}}">
{% endblock %}
{% block content %}
<h1 class="text-center mt-5">Modifier mon mot de passe</h1>
<p class="text-center">{{ app.user.firstname}}, ici vous pouvez modifier votre mot de passe</p>

<hr>
<a href="{{ path('app_account') }}" class="back-link btn mt-3 p-2"> <- Retourner à mon compte </a><br>
<hr>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
         <div class="col-0 col-sm-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8">{{ form(form)}}</div>
         <div class="col-0 col-sm-1 col-md-2"></div>
    </div>
</div>




<hr>
{% endblock %}


