{% set note = 0 %}
			{% set diviseur = 0 %}
				{% for rating in product.comments %}
					{% if rating.parent == null %}
						{% set note = note + rating.rating %}
						{% set diviseur = diviseur + 1 %}
					{% endif %}
				{% endfor %}			
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card rounded-0">
					<a href="{{path('app_product_slug', {'slug': product.slug} )}}" alt="{{product.name}}"><img class="card-img-top" src="assets/img/uploads/{{product.illustration}}" alt="Card image cap"></a>
					<div class="card-body">
						<h3 class="card-title text-center">{{product.name}}</h3>
						<div class="w-100 d-flex justify-content-center">
						{% if note == 0 or diviseur == 0 %}
							{% set realnote = 0 %}
						{% else %}
							{% set realnote = note / diviseur %}
						{% endif %}

								{% if realnote|round == 0 %} Aucune évaluation
								{% elseif realnote|round == 1 %} <i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
								{% elseif realnote|round == 2 %}	<i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
								{% elseif realnote|round == 3 %}	<i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
								{% elseif realnote|round == 4 %}	<i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star"></i>	
								{% elseif realnote|round == 5 %}	<i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i><i class="fa-sharp fa-solid fa-star productstar"></i>	
						
								{% endif %}
						</div>
						 <hr>
						<p class="card-text text-center"><em>{{ (product.price / 100)|number_format(2, ',', '.') }}€</em></p>
						<a href="{{path('app_addo_to_cart', {'id' : product.id})}}" class="btn over-panier w-100"><img class="avatar-img" src="{{asset('assets/img/temporary/panier.png')}}" alt="avatar" height="25px"></a>
					</div>
				</div>
            </div>